html, body
{
	height: 100%;
	width: 100%;
	margin: 0px;
	background: url("../images/background3.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
} 

#header
{
	height: 3em;
	width: 100%;
	padding-bottom: 5px; 
	background-color: rgba(37,110,184,0.8);
}
	#header h1
	{
		font-family: 'Indie Flower', cursive;
		font-size: 2.2em;
		color:	#F2F4F5;
		/*margin: 0 0 0 2em;*/
		margin: 0;
		float: left;
		padding-left: 45%;
	}
	#header #google_sign_in
	{
		float: right;
		margin-top: 0.5em;
		margin-right: 0.5em;
		height: 2.3em;
	}
		#header #google_sign_in:hover
		{
			content: url('../images/Red-signin_Long_hover_44dp.png');
		}
		#header #google_sign_in:active
		{
			content: url('../images/Red-signin_Long_press_44dp.png');
		}

	#header #signinButton
	{
		float: right;
		margin-top: 0.7em;
		margin-right: 0.5em;
		height: 2.3em;
	}

#date_picker
{
	height: 3em;
	width: 100%;
	margin: 0;
	background-color: #F2F4F5;
}
	#date_picker #left_date_picker
	{
		float: right;
		padding-top: 0.77em;	
	}
		#date_picker #left_date_picker #calendar_img, #time_img, #tipo_img
		{
			height: 1em;
		}
		#date_picker #left_date_picker #minutes_field
		{
			margin-right: 1em;
		}
		#date_picker #left_date_picker #minutes_field, #hours_field
		{
			width: 40px;
		}
		#date_picker #tipo_select
		{
			margin-top: 1.3em;
		}
		#date_picker #tipo_img
		{
			height: 1em;
			margin-left: 1em;
		}

.map
{
	width: 100%;
	height: 70%;
}

#controls
{
	height: 12%;
	width: 100%;
	margin: 0;
	padding-top: 1em;
	background-color: rgba(242,244,245,0.6);
}
	#controls #play
	{
		height: 2em;
	
	}
	#controls #prev, #next
	{
		height: 1.5em;
	
	}
	#controls #play:hover
	{
		content: url('../images/play-hover.png');
	}
	#controls #play:active { content: url('../images/play-active.png'); }
	#controls #prev:hover { content: url('../images/prev-hover.png'); }
	#controls #prev:active { content: url('../images/prev-active.png'); }
	#controls #next:hover { content: url('../images/next-hover.png'); }
	#controls #next:active { content: url('../images/next-active.png'); }
	#controls ul
	{
		margin: 0;
		padding: 0;
		width: 100%;
		list-style-type: none;
		text-align: center;
		display: inline-flex; 
	}

	#controls li 
	{ 
		display: inline; 
		width: 20%;
	}

