html, body
{
	height: 100%;
	width: 100%;
	margin: 0px;
	background: url("../images/background3.jpg") no-repeat center center fixed; 
	font-family: 'Montserrat', sans-serif;

  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
} 

select, input{
	text-align: center;
	outline: none;
	border: 1px solid;
	background: #FFF;
	font: inherit;
	border-radius: .3em;
}

#spinner
{
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	z-index: 2;
	position: absolute;
}
	#spinner #spinner_gif
	{
		margin-top: calc(25% - 25px);
		margin-left: calc(50% - 25px);
		height: 50px;
	}

#header
{
	height: 3.5em;
	width: 100%; 
	background-color: rgba(37,110,184,0.8);
	border-bottom: 2px solid;
	text-align: center;
}
	#header h1
	{
		font-size: 1.8em;
		color: #F2F4F5;
		margin: 0;
		padding-top: .8%;
		float: left;
		margin-left: 1%;
	}
	#header #logo
	{
		height: 3.2em;
		float: left;
		margin-left: 1.5%;
		margin-top: 0.1%;
	}
	#header #google_sign_in
	{
		float: right;
		margin-top: 0.5em;
		margin-right: 0.5em;
		height: 2.3em;
	}
		#header #google_sign_in:hover
		{
			content: url('../images/Red-signin_Long_hover_44dp.png');
		}
		#header #google_sign_in:active
		{
			content: url('../images/Red-signin_Long_press_44dp.png');
		}

	#header #signinButton
	{
		float: right;
		margin-top: 0.7em;
		margin-right: 0.5em;
		height: 2.3em;
	}

#date_picker
{
	height: 7%;
	width: 100%;
	margin: 0;
	background-color: #F2F4F5;
	border-bottom: 2px solid;
	display: inline-block;
}
	#date_picker #left_date_picker
	{
		float: right;
		padding-top: 0.77em;	
		display: inline-table;
	}
		#date_picker #left_date_picker #calendar_img, #time_img, #tipo_img
		{
			height: 1.2em;
			margin-right: 0.5em;
			margin-left: 0.5em;
		}
		#date_picker #left_date_picker #minutes_field
		{
			margin-right: 1em;
		}
		#date_picker #left_date_picker #minutes_field, #hours_field
		{
			width: 40px;
		}
	#date_picker #tipo_select
	{
		margin-top: 0.8em;
	}
	#date_picker #tipo_img
	{
		height: 1.2em;
		margin-left: 1em;
	}
	#date_picker .hora_div
	{
		font-family: inherit;
		font-size: 1.8em;
		margin-top: 0.23em;
		margin-left: 31%;
		position: absolute;
		display: inline-table;
	}
		#date_picker .hora_div #hora
		{
			margin-right: 0.5em;
		}
		#date_picker .hora_div #min
		{
			margin-left: 0.1em;
		}

.map
{
	width: 100%;
	height: 74%;
	border-bottom: 2px solid;
}

#controls
{
	height: 8%;
	width: 100%;
	margin: 0;
	padding-top: 1%;
	background-color: rgba(242,244,245,0.6);
}
	#controls #play
	{
		height: 2em;
	
	}
	#controls #prev, #next
	{
		height: 1.5em;
	
	}
	#controls #play:hover
	{
		content: url('../images/play-hover.png');
		cursor: pointer;

	}
	#controls #play:active { content: url('../images/play-active.png'); }
	#controls #prev:hover { content: url('../images/prev-hover.png'); cursor: pointer; }
	#controls #prev:active { content: url('../images/prev-active.png'); }
	#controls #next:hover { content: url('../images/next-hover.png'); cursor: pointer; }
	#controls #next:active { content: url('../images/next-active.png'); }
	#controls ul
	{
		margin: 0;
		padding: 0;
		width: 100%;
		list-style-type: none;
		text-align: center;
		display: inline-flex; 
	}

	#controls li 
	{ 
		display: inline; 
		width: 20%;
	}

